/* CRUD XML:*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{

    display: flex;
    flex-direction: column;
   
}

.container-crud{

    background-color: aqua;
    
}

.section{
    
    
    display: grid;
    min-height:100vh;
    place-items: center;
    color: white;
}

.crud{ background-color: brown; }
.table{ background-color: blue;}

.form-xml{

    
    padding: 2rem;
    
}



.product-form{

    display: flex;
    gap: .8rem;
    flex-direction: column;
    
   
}


/*Tabla*/

.cont-table{

   
    display: grid;
    
    
}

.head{

    background-color: black;
}

th,td{

    padding: 1rem;
}

.table-crud{

    background-color: rgb(74, 74, 165);
    border-collapse: collapse;
    word-break: break-all;
  
}

.btn{

    padding: .6rem;
    cursor: pointer;
    border-radius: .4rem;
    border: none;
    color: white;
    letter-spacing: .2rem;
}

.editar {

    background-color: hsl(34, 100%, 50%);
    
}

.eliminar {

    background-color: red;
}





